html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  padding-left: 10px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(80px);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: height 0.3s;
  transition: height 0.3s, font-family 0.3s;
  border-bottom: 1px solid white;
  background: linear-gradient(
    to right,
    rgba(12, 12, 12, 255),
    rgba(123, 45, 253, 1),
    rgba(12, 12, 12, 255),
    rgba(123, 45, 253, 1)
  );
  background-size: 300% 100%;
  animation: moveGradient 10s linear infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.container.scrolling {
  height: 50px !important;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  background: url("../src/assets/Untitled.svg");

  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  @media (max-width: 900px) {
    background-size: auto 100%;
    background-position: top center;
  }
}
.languages {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(12, 12, 12, 255) 20%,
    rgba(123, 45, 253, 1) 95%
  );
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(123, 45, 253, 1) 20%,
    rgba(12, 12, 12, 255) 95%
  );
  justify-content: center;
  align-items: center;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
}
.appear {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0s;
}
.transition {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.wave-text {
  display: inline-block;
  animation: waveAnimation 1.5s ease-in-out;
}

@keyframes waveAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-5px);
  }
}
.kimg {
  background-color: white;
  height: 100px;
}
